# builds
bin
dist
tsconfig.tsbuildinfo

# backups


# package directories
node_modules
.webpack
jspm_packages

*.yarn-error.log
.yarn
yarn-error.log


# Docs
coverage
typedoc

# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform

# Serverless directories
.serverless
lambda-layers


# esbuild directories
.esbuild
*.env
*.env.json