.iconBounce {
  animation: iconBounce 5s infinite ease-in-out;
}

.delay1 {
  animation-delay: 0s;
}

.delay2 {
  animation-delay: 1s;
}

.delay3 {
  animation-delay: 2s;
}

.delay4 {
  animation-delay: 1.5s;
}

.delay5 {
  animation-delay: 0.5s;
}

.delay6 {
  animation-delay: 2.5s;
}

@keyframes iconBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
} 